<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>I'm 20 and final year student of IT Engineering at <a class="underline-link" href="http://www.gecmodasa.ac.in/" target="_blank">Government Engineering College</a> in Modasa expecting to graduate in June 2019.</p>

    <p>I am an energetic and enthusiastic person who enjoys accepting challenges and strive towards achieving personal goals. My present career aim is to become a data scientist. Always willing to work with new technology.</p>
    
    <!-- {% include employment-status.html %} -->
  </div>
</section>
